.errorContainer {
	color: red;
	display: none;
}

.imageContainer {
	padding-top: 56.25%;
	height: 0;
	background-position: 50% 50%;
	background-size: cover;
	position: relative;
}

.imageContainer-sm {
	padding-top: 25%;
}

.imageContainer-sm h4 {
	position: absolute;
	padding: 0.5rem 1.25rem;
	bottom: 1.25rem;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	font-size: 32px;
}

.container-sm {
	max-width: 768px;
}

.card {
	width: 100%;
}

html {
	position: relative;
    min-height: 100%;
}
body {
	background-color: #FBFBFF;
	background-image: url(../pictures/background.jpg);
	background-position: 50% 0;
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 60px;
}

h1 {
	color: #FBFBFF;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.card-green {
	color: #FBFBFF;
	background-color: #20BF55;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.card-green .btn {
	background-color: #fff;
}

.card-green .btn:hover {
	background-color: #1A9944;
}

.card-green .text-muted {
	color: rgba(255, 255, 255, 0.8) !important;
}

.footer {
	color: #FBFBFF;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	position: absolute;
  bottom: 0;
  width: 100%;
	height: 60px;
	line-height: 60px;
}


.btn-flo {
	background: #01baef;
	background: -moz-linear-gradient(top, #01baef 1%, #0172af 99%);
	background: -webkit-linear-gradient(top, #01baef 1%,#0172af 99%);
	background: linear-gradient(to bottom, #01baef 1%,#0172af 99%);
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	text-shadow: 0 2px 4px rgba(0,0,0,0.3);
	border-radius: 10px;
	border: 1px solid #0172af;
	transition: all 0.7s linear;
}
.btn-flo-big {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	border: 2px solid #0172af;
	font-weight: 700;
	font-size: 24px;
}
.btn-flo:hover {
	text-shadow: 0 3px 8px rgba(0,0,0,0.3);
	border: 1px solid #01baef;
	color: #fff;
}
.btn-flo-big:hover {
	border: 2px solid #01baef;
}
